<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Browser Glass</title>
<!--     <link rel="stylesheet" href="css/bundle.css" /> -->
  </head>
  <body>
    {{{body}}}
    <script src="scripts/bundle.js"></script>
  </body>
</html>